body
{
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	margin:0px;
	color:#333;
	line-height: 2;
}
#wrapper {
	width: 100%;
	margin: 0px auto;
}
/* added by savneet*/
  footer {
	display: block;
	  font-size: .70em;
	  text-align: center;
	  margin-top: 2em;	  
  }
  .alignleft {
	float: left;
	margin-left: 1%;

}
.alignright {
	float: right;
	margin-right: 1%;
	font-family: "Tangerine", serif;
}
/*ends here*/
img
{
	max-width:100%;
}
.section {
	margin: 0px;
	padding: 0px;
	clear:both;
}
.group:before, .group:after
{
	content:"";
	display:table;
}
.group:after
{
	clear:both;
}
.group
{
	zoom:1;
}
.col
{
	display:block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.container
{
	width:90%;
	margin:0px auto;
	position:relative;	
}
#content
{
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	text-align:justify;
}
.span_10
{
	width:8.4%;
}
.span_15
{
	width:13.4%;
}
.span_20
{
	width:18.4%;
}
.span_25
{
	width:23.4%;
}
.span_30
{
	width:28.4%;
}
.span_33
{
	width:31.4%;
}
.span_40
{
	width:38.4%;
}
.span_45
{
	width:43.4%;
}
.span_50
{
	width:48.4%;
}
.span_60
{
	width:58.4%;
}
.span_70
{
	width:68.4%;
}
.span_75
{
	width:73.4%;
}
.span_80
{
	width:78.4%;
}
.span_90
{
	width:88.4%;
}
.span_100
{
	width:100%;
}
#mymenu ul li
{
	list-style-type:none;
}
#mymenu ul a
{
	color: #FFF;
	text-decoration: none;
	display:block;
	float: left;
	font-size: 14px;
	font-weight: bold;
	margin: 20px;
	background-color: #000;
	padding: 10px 30px;
	border:2px solid #000;
}
#mymenu ul a:hover
{
	background-color: #FFF;
	color: #000;
}
#slider {
	overflow: hidden;
}
#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
#slider figure img {
	width: 20%;
	float: left;
}
.center
{
	text-align:center !important;
}
.cityname
{
	text-transform:uppercase;
	text-align:center;
}
@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}
#places-img
{
	text-align:center;
}
#places-img img
{
	width:380px;
	height:285px;
}
#places-img h3
{
	background-color:#2196F3;
	padding:10px;
	margin:0px;
	border:1px solid #000;
	text-transform:uppercase;
}
#places-img a
{
	text-decoration:none;
	color:#fff;
}
#places-img h3:hover
{
	background-color:#fff;
	color:#000;
}
#places-img p
{
	text-align:left;
}
footer
{
	text-align:center;
}
@media only screen and (max-width:768px)
{
	.alignleft {
		font-size: 35px;
		 
	  }
	  .alignright {
		font-size: 35px;
	  }
	.col
	{
		margin: 1% 0%;	
		float:left;
	}
	.span_10, .span_15, .span_20, .span_25, .span_30, .span_33, .span_40, .span_45, .span_50, .span_60, .span_70, .span_75, .span_80, .span_90, .span_100
	{
		width:100%;
	}
	.container
	{
		width:100%;
		margin:0px auto;
		position:relative;
	}
	#content
	{
		width: 90%;
		margin-left:auto;
		margin-right:auto;
	}
	#logo
	{
		text-align:center;
	}
	#mymenu ul a
	{
		display: block;
		clear:both;
		width:87%;
		text-align:left;
		color:#fff;
		background-color:#273039;
		padding:10px 0px 10px 0px;
		margin:1px;
	}
	#mymenu ul a:hover
	{
		background-color:#FFF;
	}
	#mymenu ul a:hover li
	{
		border-bottom:none;
		padding-bottom:0px;
	}
	#mymenu ul a li
	{
		padding:0px 25px;
	}
}
